*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    background: #fff;
    flex-wrap: wrap;
}

.box{
    height: 100px;
    flex: 1 0 200px;
}

/****************************
3 properties combined:
- first for flex-grow
- second for flex-shrink
- third for flex-basis

if:
  flex: 1;
}
than:
=> flex-grow and flex-shrink is 1
=> flex-basis is 0;

*********/

.one{
    background: red;
}

.two{
    background: blue;
}

.three{
    background: green;
}


